@import url("https://fonts.googleapis.com/css?family=Arimo:400,700&display=swap");

body {
  overflow-x: hidden;
  /* font-family: "Ibarra Real Nova", serif; */
  font-family: "Arimo", sans-serif;
  color: #505962;
}

.offset:before {
  display: block;
  content: "";
  height: 4rem;
  margin-top: -4rem;
}
/* Navigation */
.navbar {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  background: rgba(0, 0, 0, 0.6) !important;
}

.navbar-brand {
  color: #ff8400;
}

.navbar-nav li {
  padding-right: 0.7rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
  padding-top: 0.8rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #ff8400;
}

/* Landing page */
#home-inner {
  background: url("../img/tech2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 700px;
  background-attachment: fixed;
}

#home-inner .dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 700px;
  background: rgba(0, 0, 0, 0.7);
}

.portfolio {
  font-size: 2rem;
  color: #ff8400;
}

.caption {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 38%;
  z-index: 0;
  text-transform: uppercase;
  color: white;
}

.caption h2 {
  font-size: 3rem;
  font-weight: 700;
  color: #ff8400;
  letter-spacing: 0.3rem;
  text-shadow: 0.1rem 0.1rem 0.8rem black;
}

.caption h4 {
  font-size: 1.7rem;
  text-shadow: 0.1rem 0.1rem 0.5rem black;
  padding-bottom: 1.6rem;
}

.btn-lg {
  border-width: medium;
  border-radius: 0;
  padding: 0.6rem 1.3rem;
  font-size: 1.1rem;
}

.btn-lg:hover {
  background-color: #ff8400;
  color: white;
}

/* About Section */
.narrow {
  width: 75%;
  margin: 1.5rem auto;
  padding-top: 1rem;
}

.narrow h1 {
  font-size: 2.4rem;
  color: #ff8400;
}

.btn-secondary {
  color: white;
  background: #ff8400;
  border-radius: 0;
  border-width: medium;
  font-size: 1.2rem;
  border: none;
  text-transform: uppercase;
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding: 0.8rem 1.5rem;
  /* border-color: #fff; */
}

.btn-secondary:hover {
  background: #ff6600;
  border: #ff6600;
}

/* Skills Section */
.jumbotron {
  margin-bottom: 0;
  padding: 2rem 0 3.5rem;
  border-radius: 0;
}

h3.heading {
  font-size: 1.9rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #ff8400;
}

.heading-underline {
  width: 5rem;
  height: 0.2rem;
  background-color: #ff8400;
  margin: 1.5rem auto;
}

/* Skills */
.skill {
  border: 3px solid #cccccc;
  padding: 1.2rem 0.8rem;
  margin: 0.8rem 0.6rem;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}

.skill:hover {
  background: #fff;
  color: #ff8400;
  /* box-shadow: 0px 0px 5px 2px #888888; */
  border: none;
  transform: scale(1.1);
}

.skill h3 {
  font-style: 1.3rem;
  text-transform: uppercase;
  margin: 0.5rem;
  padding: 0.4rem;
}

.skill p {
  font-size: 1.1rem;
}

/* Projects Section */

/* #fixed-img {
  background: url('../img/tech1.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 700px;
  z-index: -1;
} */

.dark {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 7rem 2rem;
}

.fixed-background h3 {
  margin-bottom: 2rem;
}

.fixed-background p {
  margin-top: 1.5rem;
}

.btn-modal {
  color: white;
  background: #ff8400;
  border-radius: 0;
  border-width: medium;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding: 0.3rem 0.8rem;
  border-color: #ff8400;
}

/* Contact Section */
.parallax {
  background-image: url(../img/tech1.jpg);
  height: 300px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* form label {
  color: #ff8400;
} */
.contact-info {
  line-height: 1.5rem;
}

.contact-details {
  background-color: #40474e;
  color: white;
  padding: 2rem 0 2rem;
}

.contact-details h3 {
  text-transform: uppercase;
  color: #ff8400;
  font-size: 1.7rem;
}

.contact-details .fab,
.contact-details .fas {
  padding: 1rem;
}

/* Footer */
.footer {
  background-color: #40474e;
  color: white;
  padding: 0.8rem;
  border-top: 2px solid #ff8400;
}

/* Fontawesome colors */
.fa-html5 {
  color: #e44d26;
}

.fa-css3 {
  color: #264de4;
}

.fa-js {
  color: yellow;
}

.fa-vuejs {
  color: #41b883;
}
.fa-react {
  color: #61dbfb;
}
.fa-node {
  color: #3c873a;
}

.fa-linkedin {
  color: #0077b5;
}

.fa-github {
  color: #333;
}

/* Media Queries */
@media (max-width: 767px) {
  .caption h1 {
    font-size: 2.3rem;
    letter-spacing: 0.15rem;
    padding-bottom: 0.5rem;
  }

  .caption h3 {
    font-size: 1.2rem;
    padding-bottom: 1.2rem;
  }

  .btn-lg {
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }

  .narrow h1 {
    font-size: 1.5rem;
  }
}
